<div class="content">

    <nav class="scene-type-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="random-nsc"> Zufällige NSC</a>
        <a class="item" data-tab="characters"> Helden und Meisterfiguren</a>
    </nav>

    <div class="tab" data-tab="random-nsc">
        {{stringify origin}}
        <form>
            <h1>Zufällige NSC</h1>
            {{#each archetypes}}
            <div class="form-group">
                <label>{{name}}
                    {{#if cultures}}
                    <select name="culture" class="pattern-setting">
                        {{#select ../culture}}
                        <option value="">---</option>
                        {{#each cultures}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </label>
                <div class="form-fields">
                    <input type="radio" value="{{key}}" class='pattern-setting' name="origin" data-dtype="String" {{#ifeq key ../origin}}
                    checked="checked"{{/ifeq}}/>
                </div>
            </div>
            {{/each}}
            <hr/>
            <div class="form-group">
                <label>Geschlecht </label>
                <div class="form-fields">
                    <select name="gender" class="pattern-setting">
                        {{#select gender}}
                        <option value="random">zufall</option>
                        {{#each defaultGender}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>


            <hr/>
            <div class="form-group">
                <label>Profession </label>
                <div class="form-fields">
                    <select name="profession" class="pattern-setting">
                        {{#select profession}}
                        {{#each professions}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <label>Anzahl </label>
                <div class="form-fields">
                    <input type="text" class="player pattern-setting" value="{{anzahl}}" name="anzahl" data-dtype="String"/>
                </div>
            </div>
            <input type="text" class="pattern-setting" value="" name="patternName" data-dtype="String"/>
            <button class="save-pattern" type="button">speichern</button>
            <button type="submit">erstellen</button>
        </form>

        <hr/>
        <div>
            <h1>Aus Vorlage wählen</h1>
            {{#each storedPatterns as |pattern id|}}
            <button class="select-pattern" value="{{id}}">{{name}}</button>
            <button class="delete-pattern" value="{{id}}">löschen</button>
            {{/each}}
        </div>
    </div>


    <div class="tab" data-tab="characters">
        <h1>Helden</h1>
        <form>
            <div>
                <button type="button">Ausgewählte Helden zu aktiver Szene zufügen</button>
                {{#each players}}
                <div class="form-group">
                    <label>{{name}}</label>
                    <input type="checkbox" class="player" value="{{_id}}" name="{{_id}}" data-dtype="Boolean"
                           checked="checked"/>
                </div>
                {{/each}}
            </div>
        </form>

        <h1>Meisterfiguren</h1>
        {{#each packs}}
        <form>
            <div>
                <button type="button" name="import-nsc"><b><i>{{name}}</i></b> zu aktiver Szene zufügen</button>
                <i>not implemented yet</i>
<!--
                {{#each nsc}}
                <div class="form-group">
                    <label>{{name}}</label>
                    <input type="checkbox" name="{{_id}}" data-dtype="Boolean"/>
                </div>
                {{/each}}
-->
            </div>
        </form>
        {{/each}}
    </div>

</div>
