<section class="content meistertools">

    <!-- Navigation -->
    <nav class="scene-type-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="random-nsc">Zufällige NSC</a>
        <a class="item" data-tab="characters">Helden und Meisterfiguren</a>
    </nav>


    <!--
    {{stringify data}}
    section 1 - generate random NPC
    -->
    <section class="tab" data-tab="random-nsc">

        <!-- list alle stored patterns -->
        <div class="form-box container flow">
            {{#each settings.storedPatterns as |pattern n|}}
            <!--
                            {{stringify this}}
            -->
            <div class="button-box">
                <button name="load-pattern" data-pattern="{{n}}" type="button">{{pattern.name}}</button>
                <button name="delete-pattern" data-pattern="{{n}}" type="button" class="delete"><i
                        class="fas fa-trash-alt"></i></button>
            </div>
            {{/each}}
        </div>
        <hr/>

        <!-- Pick Origin and Potential Culture -->
        <form class="nsc-form">
            <!--
                        {{data.professionName}}
            -->

            <!-- each species gets a box -->
            {{#each archetypes}}
            <div class="form-box container flow"
                 style="background-image: url('{{img}}')">

                {{#each origins}}
                <div class="card {{active key ../../data.origin}}">
                    <label class="inputbox flow radio">
                        {{name}}
                        <input name="origin" value="{{key}}" type="radio" data-dtype="String"/>
                    </label>

                    {{#if cultures}}
                    <label class="inputbox select {{#ifeq ../../data.origin key}}active{{/ifeq}}">
                        <select name="culture" style="width:100%; margin: 0 -5px;font-size: 0.7em">
                            {{#select ../../data.culture}}
                            <option value="">---</option>
                            {{#each cultures}}
                            <option value="{{key}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </label>
                    {{/if}}
                    <!--if cultures-->

                </div>
                {{/each}}
                <!--each origins-->

            </div>
            {{/each}}
            <!-- each archetypes -->

            <!-- gender options box -->
            <div class="form-box container flow">
                {{#each settings.genderOptions}}
                <div class="card {{active key ../data.gender key}}">
                    <label class="inputbox gender radio  {{active key ../data.gender key}}">
                        <span><i class="{{icon}}"> </i></span>
                        <input name="gender" value="{{key}}" type="radio" data-dtype="String"/>
                    </label>
                </div>
                {{/each}}
                <!-- each settings.genderOptions -->
            </div>
            <hr/>

            <!-- pick the profession -->
            <div class="form-box container flow"
                 style="background-image: url('systems/dsa5/icons/categories/Skill.webp')">
                {{#each professions}}
                <div class="card {{active _id ../data.profession}}">
                    <label class="inputbox flow radio profession"
                           style="background-image: url('{{img}}')">
                        {{name}}
                        <input name="profession" value="{{_id}}" type="radio" data-profession-name="{{name}}"
                               data-dtype="String"/>
                    </label>
                </div>
                {{/each}}
                <!-- each professions -->
            </div>

            <hr/>

            <!-- Main buttons -->
            <div class="form-box container flow submit">
                <div class="card {{nactive data.anzahl}}">
                    <label class="inputbox text anzahl">
                        <input name="anzahl" placeholder="Anzahl / Wurf" value="{{data.anzahl}}" type="text"
                               data-dtype="String"/>
                    </label>
                </div>

                <div class="card {{data.tokenPosition}}">
                    <label>
                        <select name="tokenPosition" style="width:100%; margin: 0 -5px;font-size: 0.7em">
                            {{#select data.tokenPosition}}
                            <option value="">kein Import in Szene</option>
                            {{#each tokenPositionOptions}}
                            <option value="{{key}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </label>
                </div>
                <div>
                    <div class="button">
                        <button name="generate-nsc" type="button">NSC erstellen</button>
                    </div>
                </div>
            </div>

            <div class="form-box container flow">
                <div>
                    <button class="dice" name="generate-name" type="button">Name<br/> <i
                            class="fas fa-dice"></i></button>
                </div>

                <div class="card nsc_name {{nactive data.nsc_name}}">
                    <label class="inputbox text">
                        <textarea name="nsc_name" placeholder="(Name wird automatisch generiert)" type="text"
                                  data-dtype="String">{{data.nsc_name}}</textarea>
                    </label>
                </div>
            </div>

            <div class="form-box container flow">
                <div>
                    <button class="dice" name="generate-image" type="button">Bild<br/> <i
                            class="fas fa-dice"></i></button>
                </div>
                <div class="card nsc_name {{nactive data.nsc_img}}">
                    {{#if data.nsc_img}}
                    <img src="{{data.nsc_img}}" style="width: 165px; height: 165px; object-fit: cover"/>
                    {{else}}
                    <i>Bild wird automatisch generiert</i>
                    {{/if}}
                </div>
            </div>
            <hr/>


            <!-- store pattern for quick access -->
            <div class="form-box container flow">
                <div class="card {{nactive data.patternName}}">
                    <label class="inputbox text">
                        <input name="patternName" placeholder="" value="{{data.patternName}}" type="text"
                               data-dtype="String"/>
                    </label>
                </div>

                <div class="button-box">
                    {{#unless data.patternName}}
                    <button disabled class="inactive" type="button">speichern</button>
                    {{else}}
                    <button name="store-pattern" type="button">speichern</button>
                    {{/unless}}
                </div>
            </div>

            <hr/>

        </form>

    </section>


    <!-- add players and stored NPC into viewed scene -->
    <section class="tab" data-tab="characters">
        <form class="nsc-form">
            <h1>Heldengruppe</h1>
            <div class="form-box container flow"
                 style="background-image: url('systems/dsa5/icons/categories/ability_fate_points.webp')">

                {{#ifeq players.length 0}}
                <h2><i>(atuell sind leider<br/> keine Spieler online.)</i></h2>
                {{/ifeq}}
                <!--ifeq players undefined-->

                {{#each players}}
                <div class="card {{ifIsProperty ../data.playerSelection _id 'active'}}">
                    <label class="inputbox checkbox profession"
                           style="background-image: url('{{img}}')">
                        {{name}}
                        <input name="playerSelection.{{_id}}" type="checkbox" data-dtype="Boolean"/>
                    </label>
                </div>
                {{/each}}
                <!--each players-->
            </div>

            <!-- import player -->
            <div class="form-box container flow submit">

                <div class="card {{data.playerTokenPosition}}">
                    <label>
                        <select name="playerTokenPosition" style="width:100%; margin: 0 -5px;font-size: 0.7em">
                            {{#select data.playerTokenPosition}}
                            {{#each tokenPositionOptions}}
                            <option value="{{key}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </label>
                </div>

                <div>
                    <div class="button">
                        {{#ifeq players.length 0}}
                        <button disabled class="inactive" type="button">ausgewählte Helden in Szene bewegen</button>
                        {{else}}
                        <button name="import-selected-players" type="button">ausgewählte Helden in Szene bewegen
                        </button>
                        {{/ifeq}}
                    </div>
                </div>
            </div>

        </form>
        <hr/>

        <form class="nsc-form">
            <!-- each Kompendium as a box -->
            {{#each packNscSelection}}
            <h1>{{name}}</h1>
            <div class="form-box container flow"
                 style="background-image: url('systems/dsa5/icons/categories/DSA-Auge.webp')">
                {{#each index}}
                <div class="card {{ifIsProperty ../../data.packNscSelection _id 'active'}}">
                    <label class="inputbox checkbox profession"
                           style="background-image: url('{{img}}')">
                        {{name}}
                        <input name="packNscSelection.{{_id}}" type="checkbox" data-dtype="Boolean"/>
                    </label>
                </div>
                {{/each}}
                <!--each index-->
            </div>
            {{/each}}
            <!-- each npcList -->
        </form>

        <form class="nsc-form">
            <h1>Zufalls NSC</h1>
            <div class="form-box container flow"
                 style="background-image: url('systems/dsa5/icons/categories/DSA-Auge.webp')">
                {{#each stockNsc}}
                <div class="card {{ifIsProperty ../data.stockNscSelection _id 'active'}}">
                    <label class="inputbox checkbox profession"
                           style="background-image: url('{{img}}')">
                        {{name}}
                        <input name="stockNscSelection.{{_id}}" type="checkbox" data-dtype="Boolean"/>
                    </label>
                </div>
                {{/each}}
                <!--each stockNsc-->
            </div>
            <hr/>
            <div class="form-box container flow submit">
                <div class="card {{data.tokenPosition}}">
                    <select name="tokenPosition" style="width:100%; margin: 0 -5px;font-size: 0.7em">
                        {{#select data.tokenPosition}}
                        {{#each tokenPositionOptions}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="button">
                        <button name="import-selected-npc" type="button">ausgewählte NSC in Szene bewegen</button>
                    </div>
                </div>
            </div>
        </form>

    </section>

    <h2>Hilfe <i class="fas fa-info-circle help" onclick="$('.help-info.help-origin').toggle();"></i></h2>
    <div class="help-info help-origin">
        <!-- todo nach lang/de.json -->
        <h3>Name</h3>
        <p>Der Name bestimmt sich aus der <b>Herkunft</b> (gruppiert nach Spezies), der <b>Region</b>
            <i>(optional)</i> und des <b>Geschlechts</b>. Die Region ist nur auswählbar,
            falls zur Herkunft Regionen definiert wurden.
        </p>

        <h3>Token und Avatar</h3>
        <p>Das Token bestimmt sich aus <b>Herkunft</b>, <b>Geschlecht</b> und <b>Beruf</b>.
            Im Module Ordner './images/actor_archetypes' wird nun nach einem Token gesucht.
            Dabei wird folgende Ordnerstruktur erwartet:</p>
        <pre>[modulePath]/images/actor_archetypes/
            [herkunft]/[geschlecht]/[beruf]</pre>
        <p>Aus dem tiefst-möglichen Ordner wird ein Bild per Zufall als Token und Avatar ausgewählt.</p>

        <h3>Character Sheet</h3>
        <p>Verwendet wird das dem <b>Beruf</b> zugeordnete Sheet. Angepasst werden derzeit nur der Name und das
            Token.</p>
    </div>

</section>
