<section class="meistertools content">

    <!-- Navigation -->
    <nav class="tabs">
        <a class="item active" data-tab="random-nsc">NSC Erstellen</a>
        <a class="item" data-tab="characters">Token zu existierenden Akteuren in Szene</a>
    </nav>


    <!--
       generate random NPC
    -->
    <section class="tab" data-tab="random-nsc">

        <div class="col-2" style="grid-template-columns: auto 64px">
            <!-- list alle stored patterns -->
            <div class="round-box">
                <header>
                    <h2>Gespeicherte Vorlagen</h2>
                </header>
                <main class="flow">
                    {{#each settings.storedPatterns as |pattern n|}}
                    <div class="button-box">
                        <button name="load-pattern" data-pattern="{{n}}" type="button">{{pattern.name}}</button>
                        <button name="delete-pattern" data-pattern="{{n}}" type="button" class="delete"><i
                                class="fas fa-trash-alt"></i></button>
                    </div>
                    {{/each}}
                </main>
            </div>

            <button name="generate-nsc" class="top-right-nsc" type="button"><i class="fas fa-user-plus"></i></button>

        </div>


        <section class="round-box">
            <header>
                <h2>Rasse und Herkunft</h2>
            </header>
            <main>
                {{#each archetypes}}
                <div class="round-box inner no-header img-left"
                     style="background-image: url('{{img}}');">
                    <div class="flow" style="margin-left: 40px">
                        {{#each origins}}
                        <div class="boxed-radio">
                            <input id="origin-{{key}}" type="radio" name="origin" value="{{key}}"
                                   {{checked_radio key ../../data.origin}} />
                            <label for="origin-{{key}}">
                                {{name}}
                                {{#if cultures}}
                                <div class="select-css">
                                    <select name="culture"
                                            class="culture {{#ifeq ../../data.origin key}}checked{{/ifeq}}">
                                        {{#select ../../data.culture}}
                                        <option value="">---</option>
                                        {{#each cultures}}
                                        <option value="{{key}}">{{name}}</option>
                                        {{/each}}
                                        {{/select}}
                                    </select>
                                </div>
                                {{/if}} <!--cultures-->
                            </label>
                        </div>
                        {{/each}} <!--origins-->
                    </div>
                </div>
                {{/each}} <!--archetypes -->

            </main>
        </section>

        <section class="round-box img-left" style="background-image: url('systems/dsa5/icons/categories/Skill.webp')">
            <header>
                <h2>Profession / Basis Actor</h2>
            </header>
            <main>
                <div class="flow" style="margin-left: 53px">

                    {{#each professions}}
                    <div class="boxed-radio">
                        <input name="profession" value="{{_id}}" type="radio" data-profession-name="{{name}}"
                               id="profession{{_id}}" data-dtype="String" {{checked_radio _id ../data.profession}} />
                        <label for="profession{{_id}}" class="inputbox" style="background-image: url('{{img}}')">
                            <span>{{name}}</span>
                        </label>
                    </div>
                    {{/each}}
                    <!-- each professions -->
                </div>
            </main>
        </section>


        <section class="round-box no-header">
            <main class="col-3">

                <section class="round-box inner">
                    <header>
                        <h2>Geschlecht</h2>
                    </header>
                    <main>
                        <div class="flow">

                            <!-- gender options box -->
                            {{#each settings.genderOptions}}
                            <div class="boxed-radio">
                                <input id="gender-{{key}}" name="gender" value="{{key}}" type="radio"
                                       data-dtype="String"
                                       {{checked_radio key ../data.gender}} />
                                <label for="gender-{{key}}" style="width:40px; height:40px; font-size:1.6em; padding-top:5px; text-align: center"><i
                                        class="{{icon}}"></i></label>
                            </div>
                            {{/each}}
                            <!-- each settings.genderOptions -->
                        </div>
                    </main>
                </section>


                <section class="round-box inner">
                    <header>
                        <h2>Anzahl</h2>
                    </header>
                    <main>
                        <div class="boxed-input" style="width: 50px;">
                            <input id="box4" name="anzahl" type="text" value="{{data.anzahl}}"/>
                            <label for="box4">Anzahl</label>
                        </div>
                    </main>
                </section>

                <section class="round-box inner">
                    <header>
                        <h2>Position in Szene</h2>
                    </header>
                    <main class="flow-box">

                        {{#each tokenPositionOptions}}
                        <div class="boxed-radio">
                            <input name="tokenPosition" value="{{key}}" type="radio"
                                   id="tokenPosition-{{key}}" data-dtype="String" {{checked_radio key ../data.tokenPosition}}
                            />
                            <label for="tokenPosition-{{key}}" title="{{key}}">
                                <div class="position {{key}}"></div>
                            </label>
                        </div>
                        {{/each}} <!--tokenPositionOptions-->

                    </main>
                </section>

            </main>
        </section>


        <section class="round-box">
            <header>
                <h2>
                    <button name="generate-preview" type="button"><i class="fas fa-dice"></i></button>
                    Vorschau
                </h2>
            </header>
            <main>

                {{#each preview as |entry id|}}
                <div class="round-box inner">
                    <header>
                        <h2>
                            <button name="generate-preview-entry" type="button"
                                    data-entry-id="{{id}}"
                            ><i class="fas fa-dice"></i></button>
                            {{entry.name}}
                        </h2>
                    </header>
                    <main class="col-2" style="grid-template-columns: 180px auto">
                        <img src="{{entry.img}}" style="width: 165px; height: 165px; object-fit: cover; border: none"/>
                        <div>
                            <h2>{{entry.professionName}} ({{entry.gender}})</h2>
                            <h3>Aussehen / Hintergrund</h3>
                            <textarea>{{entry.professionName}} {{entry.origin}} (...coming soon :)</textarea>
                        </div>
                    </main>
                </div>
                {{/each}} <!--preview-->

                <button name="create-from-preview" type="button" style="width: 100%"
                        {{#unless preview}} disabled {{/unless}} >
                    Alle NSC aus Vorschau Listeerstellen
                </button>

            </main>
        </section>


        <section class="round-box">
            <header>
                <h2>Konfiguration als Vorlage speichern</h2>
            </header>
            <main class="col-2">

                <div>
                    <label class="inputbox text">
                        <input name="patternName" placeholder="" value="{{data.patternName}}" type="text"
                               data-dtype="String"/>
                    </label>
                </div>

                <div>
                    {{#unless data.patternName}}
                    <button disabled class="inactive" type="button">speichern</button>
                    {{else}}
                    <button name="store-pattern" type="button">speichern</button>
                    {{/unless}}
                </div>


            </main>
        </section>

    </section>


    <!--
    add players and stored NPC into viewed scene
    -->
    <section class="tab" data-tab="characters">

        <section class="round-box img-left"
                 style="background-image: url('systems/dsa5/icons/categories/ability_fate_points.webp')">
            <header>
                <h2>Heldengruppe</h2>
            </header>
            <main class="flow" style="margin-left: 50px">
                {{#each players}}
                <div class="boxed-radio">
                    <input type="checkbox" name="playerSelection.{{_id}}"
                           id="playerSelection.{{_id}}"
                           {{checked_property ../data.playerSelection _id}}
                    />
                    <label for="playerSelection.{{_id}}" class="inputbox" style="background-image: url('{{img}}')">
                        <span>{{name}}</span>
                    </label>
                </div>
                {{/each}}
            </main>
            <div>
                <div class="button">
                    {{#ifeq players.length 0}}
                    <button disabled class="inactive" type="button">ausgewählte Helden in Szene bewegen</button>
                    {{else}}
                    <button name="import-selected-players" type="button">ausgewählte Helden in Szene bewegen
                    </button>
                    {{/ifeq}}
                </div>
            </div>
        </section>

        <section class="round-box img-left"
                 style="background-image: url('systems/dsa5/icons/categories/DSA-Auge.webp')">
            <header>
                <h2>Zufalls NSC aus lokalem Ordner</h2>
            </header>
            <main class="flow" style="margin-left: 50px">
                {{#each stockNsc}}
                <div class="boxed-radio">
                    <input type="checkbox" name="stockNscSelection.{{_id}}"
                           id="stockNscSelection.{{_id}}"
                           {{checked_property ../data.stockNscSelection _id}}
                    />
                    <label for="stockNscSelection.{{_id}}" class="inputbox" style="background-image: url('{{img}}')">
                        <span>{{name}}</span>
                    </label>
                </div>
                {{/each}}
                <!--each stockNsc-->
            </main>
        </section>


        <form class="nsc-form">
            <h1>Zufalls NSC</h1>
            <div class="round-box container flow"
                 style="background-image: url('systems/dsa5/icons/categories/DSA-Auge.webp')">
                {{#each stockNsc}}
                <div class="card {{ifIsProperty ../data.stockNscSelection _id 'active'}}">
                    <label class="inputbox checkbox profession"
                           style="background-image: url('{{img}}')">
                        {{name}}
                        <input name="stockNscSelection.{{_id}}" type="checkbox" data-dtype="Boolean"/>
                    </label>
                </div>
                {{/each}}
                <!--each stockNsc-->
            </div>
            <hr/>
            <div class="round-box container flow submit">
                <div class="card {{data.tokenPosition}}">
                    <select name="tokenPosition" style="width:100%; margin: 0 -5px;font-size: 0.7em">
                        {{#select data.tokenPosition}}
                        {{#each tokenPositionOptions}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="button">
                        <button name="import-selected-npc" type="button">ausgewählte NSC in Szene bewegen</button>
                    </div>
                </div>
            </div>
        </form>


    </section>


    <section class="tab" data-tab="characters">

        <form class="nsc-form">
            <!-- each Kompendium as a box -->
            {{#each packNscSelection}}
            <h1>{{name}}</h1>
            <div class="round-box container flow"
                 style="background-image: url('systems/dsa5/icons/categories/DSA-Auge.webp')">
                {{#each index}}
                <div class="card {{ifIsProperty ../../data.packNscSelection _id 'active'}}">
                    <label class="inputbox checkbox profession"
                           style="background-image: url('{{img}}')">
                        {{name}}
                        <input name="packNscSelection.{{_id}}" type="checkbox" data-dtype="Boolean"/>
                    </label>
                </div>
                {{/each}}
                <!--each index-->
            </div>
            {{/each}}
            <!-- each npcList -->
        </form>

    </section>


</section>
