<div>
    <p>...in Planung</p>
    <div class="box header">
        <h1>Fight Simulator</h1>
        <div class="col-2">
            <div class="inner box header">
                <h2>Die Guten</h2>
            </div>
            <div class="inner box header">
                <h2>Die Bösen</h2>
                <button>Monster / NSC hinzufügen</button>
            </div>
        </div>
        <button>Kampf simulieren</button>
    </div>
</div>
