<section class="content">

    <nav class="scene-type-tabs tabs" data-tab-container="primary">
        {{#each sceneCategories as |scene id|}}
        <a class="item" data-tab="scene-{{id}}"> {{name}}</a>
        {{/each}}
    </nav>

    <div>
        <hr/>
        <input type="text" class="set-search" name="keyword" value="{{keyword}}" data-dtype="String"/>
        <hr/>
    </div>

    {{#each sceneCategories as |scene id|}}
    <div class="tab" data-tab="scene-{{id}}">
        <h1>{{name}}</h1>

        {{#unless ../filterExisting}}
        <i>Es werden alle bereits importierten Szenen gezeigt</i>
        {{/unless}}

        <div class="form-group">
            <label>Ausgewählte Szenen aktivieren</label>
            <input type="checkbox" class="set-active-default" name="activateScene" data-dtype="Boolean" {{checked ../activateScene}}/>
        </div>

        <button value="{{showAllString}}" class="set-search-button">Alle anzeigen</button>
        {{#each keywords}}
        <button value="{{this}}" class="set-search-button">{{this}}</button>
        {{/each}}

        <h2>Bereits importiert</h2>
        <div>
            {{#each existingScenes}}
            <div>
                <h3>{{name}}</h3>
                <button value="{{_id}}" class="select-scene"><img src="{{img}}"/></button>
            </div>
            {{/each}}
            <hr/>
        </div>

        <h2>From Pack</h2>
        <div>
            {{#each scenesFromPack}}
            <div>
                <h3>{{name}}</h3>
                <button value="{{id}}-{{_id}}" class="import-scene"><img src="{{img}}"/></button>
            </div>
            {{/each}}
            <hr/>
        </div>
    </div>
    {{/each}}

</section>
