<section class="meistertools content">

    <nav class="tabs">
        {{#each categories}}
        <a class="set-category {{#ifeq ../activeCategory key}}active{{/ifeq}}"
           data-category-key="{{key}}">{{name}}</a>
        {{/each}} <!--categories-->
    </nav>

    <section class="round-box">
        <header>
            <h1>{{scenePack.name}}</h1>
        </header>
        <main>

            <!--keywords-->
            <div>
                {{#if keyword}}
                <h2>gefiltert nach <i>'{{keyword}}'</i></h2>
                {{/if}}
                <input name="keyword" value="{{keyword}}"/>
                <a class="label" name="set-keyword" data-keyword="{{showAll}}">Alle</a>
                {{#each keywords}}
                <a class="label" name="set-keyword" data-keyword="{{this}}">{{this}}</a>
                {{/each}}
            </div>

            <!--local scenes from folder-->
            <section class="round-box inner">
                <header>
                    <h2>Bereits in Ordner <i><b>{{scenePack.folderName}}</b></i></h2>
                </header>
                {{#each scenePack.existing}}
                <section class="existing-scenes">
                    <h2>{{name}}</h2>
                    <div style="display: grid; grid-template-columns: 320px auto">
                        <img src="{{img}}" class="scene-thumb" data-scene-id="{{_id}}"/>
                        <div>
                            <div style="margin-top: 10px">
                                <button name="show-scene" class="show-scene" data-scene-id="{{_id}}"> nur anzeigen
                                </button>
                            </div>
                            <div>
                                <button name="activate-scene" class="activate-scene" data-scene-id="{{_id}}"> auch
                                    aktivieren
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                {{/each}}
            </section>


            {{#if scenePack.meta.thumbFolder}}
            <!--generated battlemaps (beta)-->
            <section class="round-box inner">
                <header>
                    <h2>Erstelle Battlemap (beta)</h2>
                </header>

                {{#each thumbs}}
                <section class="pack-scenes">
                    <div style="display: grid; grid-template-columns: 320px auto">
                        <img src="{{this}}" style="width: 300px; height:300px; object-fit: cover"/>
                        <div>
                            <button name="create-scene" data-thumb-name="{{this}}"><i class="fas fa-magic"></i>
                                Battlemap erstellen
                            </button>
                            <ul>
                                <li>keyword</li>
                                <li>keyword</li>
                                <li>keyword</li>
                            </ul>
                        </div>
                    </div>
                </section>
                {{/each}} <!--thumbs-->
            </section>

            {{else}} <!--scenePack.meta.thumbFolder-->

            <!--scenes from compendium -->
            <section class="round-box inner">
                <header>
                    <h2>Aus Kompendium <i><b>{{scenePack.packName}}</b></i></h2>
                </header>
                {{#each scenePack.index}}
                <section style="background-color: lightgray">
                    <h2>{{name}}</h2>
                    <div style="display: grid; grid-template-columns: 320px auto">
                        <img src="{{img}}" class="scene-thumb" data-collection="{{../scenePack.packName}}"
                             data-scene-id="{{_id}}"/>
                        <div>
                            <div style="margin-top: 10px">
                                <button name="show-scene" class="show-scene" data-scene-id="{{_id}}"><i
                                        class="fas fa-cloud-download-alt"></i> nur anzeigen
                                </button>
                            </div>
                            <div>
                                <button name="activate-scene" class="activate-scene" data-scene-id="{{_id}}"><i
                                        class="fas fa-cloud-download-alt"></i> auch aktivieren
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                {{/each}} <!--scenePack.index-->

            </section>
            {{/if}} <!--scenePack.meta.thumbFolder-->

        </main>
    </section>


</section>
