<form autocomplete="off" class="dsa5-meistertools">
    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="scenes"><i class="fas fa-map-marked-alt"></i> Manage Scenes</a>
        <a class="item" data-tab="nsc"><i class="fas fa-user-plus"></i> NSC Generator</a>
    </nav>
    <section id="config-tabs" class="content">

        <!-- Scene Manager Settings -->
        <div class="tab active" data-tab="scenes">
            <h1>Manage Scenes</h1>
            <div class="form-group">
                <label><h3>Importierte Szenen filtern</h3></label>
                <input type="checkbox" name="scenes.filterExisting" data-dtype="Boolean" {{checked
                       scenes.filterExisting}}/>
            </div>
            <p class="info-text">Falls deaktiviert, werden alle bereits importierten Szenen aus diesem Ordner immer und
                unabhängig vom Suchbegriff angezeigt</p>

            <div class="form-group">
                <label>Ausgewählte Szenen per default aktivieren</label>
                <input type="checkbox" name="scenes.activateDefault" data-dtype="Boolean" {{checked
                       scenes.activateDefault}}/>
            </div>
            <p class="info-text">Falls aktiviert, werden ausgewählte Szenen per default nicht nur selektiert sondern
                auch als aktive Szenen ausgewählt. Kann bei der Auswahl der Szene geändert werden.</p>

            <div class="form-group">
                <label>Alternative Playlist suchen</label>
                <input type="checkbox" name="scenes.updatePlaylist" data-dtype="Boolean" {{checked
                       scenes.updatePlaylist}}/>
            </div>
            <p class="info-text">Falls aktiviert: Merkt sich Name einer zugeordneten Playlist. Falls diese
                zwischenzeitlich unter gleichem Namen neu angelegt wurde, wird sie der Szene bei Aktivierung
                zugewiesen</p>
            <div class="form-group">
                <label>Default Playlist</label>
                <select name="scenes.defaultPlaylist">
                    {{#select scenes.defaultPlaylist}}
                    <option value="">- keine -</option>
                    {{#each playlists}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <p class="info-text">Falls eine Szene ohne Playlist aktiviert wird, wird ihr diese Playlist zugeordnet.</p>

            {{#each scenes.categories as |category id|}}
            <div>
                <hr/>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="scenes.categories_name" data-dtype="String" value="{{name}}"/>
                </div>
                <div class="form-group">
                    <label>Scene Ordner</label>
                    <input type="text" name="scenes.categories_folder" data-dtype="String" value="{{folder}}"/>
                </div>
                <div class="form-group">
                    <label>Suchbegriffe</label>
                    <input type="text" name="scenes.categories_keywords" data-dtype="String" value="{{keywords}}"/>
                </div>
                <div class="form-group">
                    <label>Kompendium</label>
                    <select name="scenes.categories_packname">
                        {{#select this.packname}}
                        {{#each ../scenePacks as |name key|}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Helden automatisch platzieren</label>
                    <input type="checkbox" name="scenes.categories_addplayers" data-dtype="Boolean" {{checked
                           this.addplayers}}/>
                </div>
                <p class="info-text">Falls aktiviert, werden der ausgewählten Szenen die Heldengruppe hinzugefügt.</p>
                <div class="form-group">
                    <label>Position</label>
                    <select name="scenes.categories_position">
                        <option value="">---</option>
                        {{#select this.position}}
                        <option value="mitte"> Mitte</option>
                        <option value="untenlinks">Unten link</option>
                        <option value="obenlinks">Oben links</option>
                        {{/select}}
                    </select>
                </div>

                <button class="delete-element" name="scenes.categories" value="{{id}}" type="cancel">Pack entfernen
                </button>
            </div>
            {{/each}}
            <hr/>
            <button class="insert-element" name="scenes.categories" type="cancel">neues Pack</button>
        </div>


        <!-- NSC Generator Settings -->
        <div class="tab active" data-tab="nsc">
            <h1>NSC Generator</h1>
            <div class="form-group">
                <label><h3>Default Herkunft</h3></label>
                <select name="nsc.defaultOrigin">
                    <option value="">- keine -</option>
                    {{#select nsc.defaultOrigin}}
                    {{#each origins}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label><h3>Default Region</h3></label>
                <select name="nsc.defaultCulture">
                    <option value="">- keine -</option>
                    {{#select nsc.defaultCulture}}
                    {{#each cultures}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <p class="info-text">Gültig falls Herkunft Unterregionen hat (in der Basiskonfiguration sind das nur die Mitellande)</p>

            <div class="form-group">
                <label><h3>Default Beruf ID</h3></label>
                <input type="text" name="nsc.defaultProfession" data-dtype="String" value="{{nsc.defaultProfession}}"/>
            </div>
            <p class="info-text">Achtung! Wird derzeit beim speichern einer NSC Konfiguration überschrieben.</p>
            <hr/>
            <div class="form-group">
                <label><h3>Berufe Pack</h3></label>
                <select name="nsc.professionPack">
                    <option value="">- keine -</option>
                    {{#select nsc.professionPack}}
                    {{#each actorPacks as |name key|}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label><h3>Lokaler Ordner</h3></label>
                <input type="text" name="nsc.folder" data-dtype="String" value="{{nsc.folder}}"/>
            </div>
            <p class="info-text">Actors aus diesem Pack bilden die Basis und damit Auswahlmöglichkeiten der Berufe</p>
            <hr/>

            <h3>Aktuelle Auswahl-Optionen zu Geschlecht. Anpassbar in <i>CreateNSC.getDefaultSettings()</i></h3>
            <p>{{stringify nsc.genderOptions}}</p>
            <hr/>

            <input type="hidden" name="nsc.tokenImageFolder" data-dtype="String" value="{{nsc.tokenImageFolder}}"/>
            <label>Bilder zu Archetypen werden gesucht in Ordner <i>{{nsc.tokenImageFolder}}</i>
                <button name="change-token-image-folder" type="button">Pfad ändern (Wildcard Folder)</button>
            </label>
            <hr/>

            <div class="form-group">
                <label><h3>Nach NSC Erstellung die App schließen?</h3></label>
                <input type="checkbox" name="nsc.closeAfterGeneration" data-dtype="Boolean" {{checked
                       nsc.closeAfterGeneration}}/>
            </div>
            <hr/>

            <h2>Weitere Packs aus denen ein Actor importiert werden kann</h2>
            {{#each nsc.packs as |pack id|}}
            <p class="info-text">Actors aus den folgenden Packs können über Schnellimport Szenen zugewiesen werden</p>
            <div>
                <hr/>
                <div class="form-group">
                    <label>Ordner</label>
                    <input type="text" name="nsc.packs_folder" data-dtype="String" value="{{folder}}"/>
                </div>
                <div class="form-group">
                    <label>Kompendium</label>
                    <select name="nsc.packs_packname">
                        {{#select this.packname}}
                        {{#each ../actorPacks as |name key|}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <button class="delete-element" name="nsc.packs" value="{{id}}" type="cancel">Pack entfernen</button>
                {{/each}}
                <hr/>
                <button class="insert-element" name="nsc.packs" type="cancel">neues Pack</button>
            </div>
        </div>


    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit"><i class="fas fa-save"></i> Änderungen speichern</button>
    </footer>
</form>
