<section class="meistertools content">
    <nav class="tabs">
        <a class="item active" data-tab="lager"><i class="fas fa-campground"></i> Nachtlager</a>
        <p>coming soon: Nachtwache mit Zufallsbegegnungen</p>
        <!--
                <a class="item" data-tab="wache"><i class="fas fa-bed"></i> Nachtwache</a> &lt;!&ndash;fas fa-binoculars&ndash;&gt;
        -->
    </nav>

    <main class="tab" data-tab="lager">
        <section class="round-box">
            <header>
                <h1>Nachtlager</h1>
            </header>
            <main>

                {{#if props}}
                {{#each props as |prop id|}}
                <div style="float:left; margin: 10px">
                    <img src="{{prop.img}}" class="placed-prop"/>
                    <h3>{{prop.token}}</h3>
                    <p><a name="remove-prop" data-prop-id="{{id}}">wieder abbauen</a></p>
                </div>
                {{/each}} <!--props-->
                <hr style="clear: left; margin-bottom: 20px"/>
                {{/if}} <!--props-->

                {{#unless tokens}}
                <h2>Aktuell ist niemand in der aktiven Szene.</h2>
                {{/unless}} <!--tokens-->

                {{#each tokens}}
                <section class="round-box inner nachtlager">
                    <header>
                        <h2>{{name}}</h2>
                    </header>
                    <main>
                        <a class="zoom-token" data-token-id="{{_id}}" title="Sicht auf {{name}} zentrieren"><img src="{{img}}" class="player" /></a>
                        <a name="make-fire" data-token-id="{{_id}}" data-token-name="{{name}}"
                           title="Feuer machen"><img class="prop" src="{{../images.fireplace}}" alt="Feuer machen"/> <br/><b>Feuer machen</b><br/><i>(Wildnisleben +1)</i></a>

                        {{#each ../propOptions as |prop id|}}
                        <a name="place-prop"
                           data-token-id="{{../_id}}" data-prop-id="{{id}}"
                           title="{{prop.name}}"><img
                                class="prop" src="{{prop.img}}" alt="{{prop.name}}"/> <br/><b>{{prop.name}}</b><br/><i>(Keine Probe)</i></a>
                        {{/each}} <!--props-->
                    </main>
                </section>
                {{/each}} <!--tokens-->
            </main>
        </section>
    </main>

    <main class="tab" data-tab="wache">
        <section class="round-box">
            <header>
                <h1><a><i class="button fas fa-plus-circle"></i></a> Nachtwache</h1>
            </header>
            <main>
                <section class="round-box inner">
                    <header>
                        <h2>Erste Wache</h2>
                    </header>
                    <main>
                        <div class="boxed-radio">
                            {{#each tokens}}
                            <input id="wache1-{{_id}}" name="wache1-{{_id}}" type="checkbox"/>
                            <label for="wache1-{{_id}}">{{name}}</label>
                            {{/each}}
                        </div>

                    </main>
                </section>
                <section class="round-box inner">
                    <header>
                        <h2>Zweite Wache</h2>
                    </header>
                    <main>
                        <div class="boxed-radio">
                            {{#each tokens}}
                            <input id="wache2-{{_id}}" name="wache2-{{_id}}" type="checkbox"/>
                            <label for="wache2-{{_id}}">{{name}}</label>
                            {{/each}}
                        </div>
                    </main>
                </section>
                <section class="round-box inner">
                    <header>
                        <h2>Dritte Wache</h2>
                    </header>
                    <main>
                        <div class="boxed-radio">
                            {{#each tokens}}
                            <input id="wache3-{{_id}}" name="wache3-{{_id}}" type="checkbox"/>
                            <label for="wache3-{{_id}}">{{name}}</label>
                            {{/each}}
                        </div>
                    </main>
                </section>
            </main>
        </section>
        <div>
            <button type="button" name="nightwatch"><i class="fas fa-save"></i> Gute Nacht</button>
        </div>
    </main>

</section>
