<div>
    <div class="col-3">
        <div class="inner box header">
            <h2>Biome und Uhrzeit</h2>
        </div>
        <div class="inner box header">
            <h2>Hunger</h2>
        </div>
        <div class="inner box header">
            <h2>Status</h2>
        </div>
    </div>
    <div class="box header"><h1>What now?</h1></div>
</div>
