<form>
    <div class="rulebook-menu">
        <div>
            <div class="inner box header">
                <h2>Fokusregeln</h2>
                {{#each ruleBooks}}
                    <div class="select-rule" data-rule-key="{{_id}}">
                        <img src="{{img}}"/>
                        <h3>{{name}}</h3>
                    </div>
                {{/each}}
            </div>
            <button class="bold select-rule" data-rule-key="talents" type="button">Talentproben</button>
        </div>

        <div>
            <!-- todo -->
            {{#ifeq currentRule "attributes"}}
                <h1>Probe auf Eigenschaft</h1>
                <p>TBD</p>
            {{/ifeq}}

            {{#ifeq currentRule "talents"}}
                {{> modules/dsa5-meistertools/templates/rulebook/talents.hbs}}
            {{/ifeq}}

            {{#if currentRulebook}}
                {{> modules/dsa5-meistertools/templates/rulebook/rulebook.hbs}}
            {{/if}}
        </div>

    </div>
</form>
