<form>
    <div class="col-2" style="grid-template-columns: 250px auto">
        <div>
            <div class="inner box header">
                <h2>Favoriten</h2>
                <div><a class="select-rule" data-rule-key="talents"><i class="fas fa-tools"></i> Talentproben</a></div>
            </div>

            <div class="inner box header">
                <h2>Fokusregeln</h2>
                {{#each ruleBooks}}
                    <h2 class="select-rule" data-rule-key="{{_id}}"><img src="{{img}}"/> {{name}}</h2>
                {{/each}}
            </div>
        </div>

        <div>
            <!-- todo -->
            {{#ifeq currentRule "attributes"}}
                <h1>Probe auf Eigenschaft</h1>
                <p>TBD</p>
            {{/ifeq}}

            {{#ifeq currentRule "talents"}}
                {{> modules/dsa5-meistertools/templates/rulebook/talents.hbs}}
            {{/ifeq}}

            {{#if currentRulebook}}
                {{> modules/dsa5-meistertools/templates/rulebook/rulebook.hbs}}
            {{/if}}
        </div>

    </div>
</form>
