<form autocomplete="off" class="content">
    <nav class="tabs">
        {{#each settingsCategories}}
            <a class="item" data-tab="{{key}}"><i class="{{icon}}"></i> {{localize name}}</a>
        {{/each}}
    </nav>
    {{> modules/dsa5-meistertools/templates/settings/general.hbs}}
    {{> modules/dsa5-meistertools/templates/settings/nsc-factory.hbs}}
    {{> modules/dsa5-meistertools/templates/settings/scene.hbs}}
    {{> modules/dsa5-meistertools/templates/settings/locations.hbs}}

    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Biome photos from <a href="https://www.pexels.com" title="Pexels">Pexels</a></div>
</form>
