<form autocomplete="off" class="content">
    <nav class="tabs">
        {{#each settingsCategories}}
            <a class="item" data-tab="{{key}}"><i class="{{icon}}"></i> {{localize name}}</a>
        {{/each}}
    </nav>
    {{> modules/dsa5-meistertools/templates/settings/general.hbs}}
    {{> modules/dsa5-meistertools/templates/settings/nsc-factory.hbs}}
    {{> modules/dsa5-meistertools/templates/settings/scene.hbs}}
    {{> modules/dsa5-meistertools/templates/settings/locations.hbs}}


</form>
