<form autocomplete="off">
    <div class="meistertools settings">
        <nav class="tabs">
            <a class="item active" data-tab="scenes"><i class="fas fa-film"></i> Szenen Verwaltung</a>
            <a class="item" data-tab="nsc"><i class="fas fa-user-plus"></i> NSC Generator</a>
            <a class="item" data-tab="music"><i class="fas fa-music"></i> Musik</a>
        </nav>

        <section class="content">

            <!-- Scene Manager Settings -->
            <div class="tab active" data-tab="scenes">
                <section class="round-box with-help">
                    <header>
                        <h1><a name="add-pack"><i class="button fas fa-plus-circle"></i></a>Scene Packs</h1>
                        <nav class="help-icon" data-help="scene-pack"><i class="fas fa-info-circle"></i></nav>
                    </header>

                    <main>
                        {{#each settings.scenes.categories as |category id|}}
                        <section class="inner round-box col-4">
                            <header>
                                <h2><a name="remove-pack"
                                       data-index="{{id}}"><i class="button fas fa-minus-circle"></i></a>{{category.name}}
                                </h2>
                            </header>
                            <main>
                                <div class="boxed-input">
                                    <input id="scene-category-{{id}}-name" type="text"
                                           name="settings.scenes.categories[{{id}}].name"
                                           value="{{category.name}}"
                                    />
                                    <label for="scene-category-{{id}}-name">Kategorie Name</label>
                                </div>
                                <div class="boxed-input">
                                    <input id="scene-category-{{id}}-folder" type="text"
                                           name="settings.scenes.categories[{{id}}].folder"
                                           value="{{category.folder}}"
                                    />
                                    <label for="scene-category-{{id}}-folder">Ordner Name</label>
                                </div>
                                <div class="boxed-input">
                                    <input id="scene-category-{{id}}-keywords" type="text"
                                           name="settings.scenes.categories[{{id}}].keywords"
                                           value="{{category.keywords}}"
                                    />
                                    <label for="scene-category-{{id}}-keywords">Suchbegriffe</label>
                                </div>

                                <div class="select-css">
                                    <select id="scene-category-{{id}}-packname"
                                            name="settings.scenes.categories[{{id}}].packname">
                                        {{#select category.packname}}
                                        <option value="">- kein Pack -</option>
                                        {{#each ../selectOptions.scenes}}
                                        <option value="{{packname}}">{{name}}</option>
                                        {{/each}}
                                        {{/select}}
                                    </select>
                                    <label for="scene-category-{{id}}-packname"
                                           style="font-weight: bold; text-align: right">Compendium
                                        Pack</label>
                                </div>

                            </main>

                        </section>
                        {{/each}}
                        <!--settings.scenes.categories-->
                    </main>

                    <section class="help-info help-scene-pack">
                        <h2>Hilfe zur Szenen Verwaltung</h2>
                        <ul>
                            <li>Scene Pack hinzufügen mit <i class="fas fa-plus-circle"></i> und entfernen mit <i
                                    class="fas fa-minus-circle"></i></li>
                            <li><h3>Kategorie Name</h3> Name der Kategorie zur einfacheren Übersicht</li>
                            <li><h3>Ordner Name</h3> Ein Szene-Ordner mit diesem Namen wird beim Start der App
                                automatisch angelegt (aktuell nur Hauptordner), falls er nicht existiert. Hier werden
                                aus dem Pack importierte Szenen in der lokalen Welt gespeichert
                            </li>
                            <li><h3>Suchbegriffe</h3> Durch ',' (Komma) getrennte Suchbegriffe sind
                                in der App als Tag-Button für schnelle Suchen verfügbar.
                            </li>
                            <li><h3>Compendium Pack</h3> Auswahl einer Scene-Pack und Zuordnung zu dieser Kategorie.
                                Szenen aus diesem Pack werden mit Vorschau angezeigt und können so schnell in die Welt
                                importiert werden.
                            </li>
                        </ul>
                    </section>
                </section>

            </div>

            <!-- Scene Manager Settings -->
            <div class="tab" data-tab="music">
                <section class="round-box with-help">
                    <header>
                        <h1>Jukebox</h1>
                        <nav class="help-icon" data-help="jukebox"><i class="fas fa-info-circle"></i></nav>
                    </header>
                    <main>
                        <div class="switch-checkbox">
                            <input id="updatePlaylist" name="settings.scenes.updatePlaylist" type="checkbox" {{checked
                                   settings.scenes.updatePlaylist}}/>
                            <label for="updatePlaylist">Playlist in Scene anpassen</label>
                        </div>
                        <div class="select-css" style="grid-column: span 2">
                            <select id="defaultPlaylist"
                                    name="settings.scenes.defaultPlaylist">
                                {{#select settings.scenes.defaultPlaylist}}
                                <option value="">- keine Playlist -</option>
                                {{#each selectOptions.playlists}}
                                <option value="{{name}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            <label for="defaultPlaylist" style="font-weight: bold; text-align: right">Default
                                Playlist</label>
                        </div>
                    </main>
                    <section class="help-info help-jukebox">
                        <h2>Jukebox Hilfe</h2>
                        <h3>Playlist in Scene anpassen</h3>
                        <p>
                            Falls aktiv: wird eine Szene aktiviert, die einer Playlist-ID zugeordnet ist,
                            die in der aktuellen Playlist nicht enthalten ist, aber eine Playlist mit dem gleichen Namen
                            ist vorhanden, so wird die namensgleiche Playlist dieser Szene zugeordnet.
                        </p>
                        <h3>Default Playlist</h3>
                        <p>
                            Falls hier eine Playlist ausgewählt wurde, wird diese der Szene zugeordnet, falls ihr bisher
                            keine Playlist zugeordnet oder diese nicht gefunden wurde.
                        </p>
                    </section>
                </section>
            </div>

            <!-- NSC Generator Settings -->
            <div class="tab" data-tab="nsc">
                <section class="round-box">
                    <header>
                        <h1>NSC Generator</h1>
                    </header>
                    <main>

                        <!--Actor Sheet / Profession Pack-->
                        <section class="inner round-box with-help">
                            <header>
                                <h2>Actor Sheet Vorlagen</h2>
                                <nav class="help-icon" data-help="nsc-generator-profession"><i
                                        class="fas fa-info-circle"></i></nav>
                            </header>
                            <main>
                                <div class="select-css">
                                    <select id="professionPack"
                                            name="settings.nsc.professionPack">
                                        {{#select settings.nsc.professionPack}}
                                        <option value="">- kein Pack -</option>
                                        {{#each selectOptions.actors}}
                                        <option value="{{packname}}">{{name}}</option>
                                        {{/each}}
                                        {{/select}}
                                    </select>
                                    <label for="professionPack">Compendium Pack</label>
                                </div>
                                <div class="select-css">
                                    <select id="defaultProfession"
                                            name="settings.nsc.defaultProfession">
                                        {{#select settings.nsc.defaultProfession}}
                                        <option value="">- keinees Pack -</option>
                                        {{#each selectOptions.professions}}
                                        <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                        {{/select}}
                                    </select>
                                    <label for="defaultProfession">Default Basis Actor</label>
                                </div>
                            </main>
                            <section class="help-info help-nsc-generator-profession">
                                <h2>Basis Actor Sheet auswählen</h2>
                                <p>Das Basis Actor Sheet wird in der App "Beruf" genannt und wird für die Erstellung
                                    neuer Akteure als Grundlage verwendet</p>
                                <ul>
                                    <li><h3>Compendium Pack</h3> Akteure aus diesem Pack werden als "Beruf" in der App
                                        angezeigt.
                                    </li>

                                    <li><h3>Default Basis Actor</h3> Dieser Akteur ist per Default ausgewählt</li>
                                </ul>
                            </section>
                        </section>

                        <!--Ordner-->
                        <section class="inner round-box with-help">
                            <header>
                                <h2>Ordner</h2>
                                <nav class="help-icon" data-help="nsc-generator-folder"><i
                                        class="fas fa-info-circle"></i></nav>
                            </header>
                            <main>
                                <div class="boxed-input">
                                    <input id="folder" type="text"
                                           name="settings.nsc.folder"
                                           value="{{settings.nsc.folder}}"
                                    />
                                    <label for="folder">Ordner für generierte NSC</label>
                                </div>
                                <div class="boxed-input">
                                    <input id="tokenImageFolder" type="text" readonly
                                           name="settings.nsc.tokenImageFolder"
                                           value="{{settings.nsc.tokenImageFolder}}"
                                    />
                                    <label for="tokenImageFolder">Bilder Basis-Ordner</label>
                                    <button name="change-token-image-folder" type="button">Pfad ändern (wie Wildcard
                                        Folder wählen)
                                    </button>
                                </div>
                            </main>
                            <footer class="help-info help-nsc-generator-folder">
                                <h2>Ordner</h2>
                                <h3>Ordner für generierte NSC</h3>
                                <p>
                                    In diesem lokalen Welt Ordner werden Akteure gespeichert, die mit Meistertools
                                    generiert wurden. Akteure in diesem Ordner können außerdem schnell in aktuelle
                                    Szenen importiert werden.
                                </p>
                                <h3>Bilder Basis-Ordner</h3>
                                <p>Dieser Ordner ist die Basis, wenn Meistertools versucht, Zufalls-Bilder für einen NSC
                                    zu finden.</p>
                                <p>Meistertools sicht im Unterordner</p>
                                <pre>{herkunft}/{geschlecht}/{beruf}</pre>
                                <p>Dabei wird zunächst versucht, aus im untersten Ordner per Zufall eines auszuwählen.
                                    Ist der Ordner leer, oder existiert er nicht, wird im übergeordneten
                                    nachgesehen.</p>
                            </footer>
                        </section>


                        <!--Allgemeines-->
                        <section class="inner round-box">
                            <header>
                                <h2>Allgemeines</h2>
                            </header>
                            <main>
                                <div class="select-css">
                                    <select id="defaultOrigin"
                                            name="settings.nsc.defaultOrigin">
                                        {{#select settings.nsc.defaultOrigin}}
                                        <option value="">- kein Pack -</option>
                                        {{#each selectOptions.origins}}
                                        <option value="{{key}}">{{name}}</option>
                                        {{/each}}
                                        {{/select}}
                                    </select>
                                    <label for="defaultOrigin">Default Herkunft</label>
                                </div>
                                <div class="select-css">
                                    <select id="defaultCulture"
                                            name="settings.nsc.defaultCulture">
                                        {{#select settings.nsc.defaultCulture}}
                                        <option value="">- kein Pack -</option>
                                        {{#each selectOptions.cultures}}
                                        <option value="{{key}}">{{name}}</option>
                                        {{/each}}
                                        {{/select}}
                                    </select>
                                    <label for="defaultCulture">Default Kultur</label>
                                </div>
                                <div class="switch-checkbox">
                                    <input id="closeAfterGeneration" name="settings.nsc.closeAfterGeneration"
                                           type="checkbox"
                                           {{checked
                                           settings.nsc.closeAfterGeneration}}/>
                                    <label for="closeAfterGeneration">nach NSC Erzeugung automatisch wieder
                                        schließen </label>
                                </div>
                            </main>
                        </section>


                        <!--Gender Optionen-->
                        <section class="inner round-box">
                            <header>
                                <h2><a name="add-gender"><i class="button fas fa-plus-circle"></i></a> Gender Optionen
                                </h2>
                            </header>
                            <main>
                                {{#each settings.nsc.genderOptions as |option id|}}
                                <div>
                                    <label>
                                        <select name="settings.nsc.genderOptions[{{id}}].icon">
                                            {{#select option.icon}}
                                            <option value="">- kein Icon -</option>
                                            {{#each ../selectOptions.genderIcons}}
                                            <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                        <input name="settings.nsc.genderOptions[{{id}}].key" data-dtype="string"
                                               value="{{option.key}}"/>
                                        <input name="settings.nsc.genderOptions[{{id}}].name" data-dtype="string"
                                               value="{{option.name}}"/>
                                        <button name="btn_del-gender" data-gender-index="{{id}}" type="button">
                                            entfernen
                                        </button>
                                    </label>
                                </div>
                                {{/each}}
                                <!--settings.nsc.genderOptions-->
                            </main>
                        </section>
                    </main>
                </section>

            </div>


        </section>

        <footer class="sheet-footer flexrow">
            <button type="submit"><i class="fas fa-save"></i> Änderungen speichern</button>
            <button type="button" name="reset-settings" class="reset"><i class="fas fa-undo"></i> Änderungen widerrufen
            </button>
        </footer>
    </div>
</form>
