/* ---------------------------------
    boxed-style radio button / checkbox button
 --------------------------------- */

.box input[type=radio],
.box input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.box input[type=radio] + label,
.box input[type=checkbox] + label {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: var(--color-primary);
    background-color: var(--color-quinary);
    border: 2px solid var(--color-primary);
    width: auto;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.box input[type=radio] + label:hover,
.box input[type=checkbox] + label:hover {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
}

.box input:checked + label {
    color: var(--color-light);
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
}

.box input:checked + label > * {
    color: var(--color-light);

}

/* ---------------------------------
    text input
 --------------------------------- */

/* default input */
.meistertools input[type=text] {
    text-align: left;
    cursor: text;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
}

.meistertools input[type=text]:focus {
    background-color: var(--color-light);
}


/* labeled input show the label above the input field */
.meistertools input[type=text].labeled {
    margin-top: 16px;
}

.meistertools input[type=text].labeled + label {
    color: var(--color-secondary);
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0;
    line-height: 1em
}

.meistertools input[type=text].labeled:focus + label {
    background-color: var(--color-primary);
    color: white;
}


/* ---------------------------------
    textarea
 --------------------------------- */

.meistertools textarea {
    min-height: 300px;
    max-height: 100%;
    min-width: 50%;
    max-width: 100%;
}

.boxed-input textarea {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    margin-top: 10px;
}

.boxed-input textarea + label {
    top: -6px;
}


/* ---------------------------------
    select
 --------------------------------- */

.meistertools select {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    border-color: var(--color-secondary);
    width: 100%;
    margin-top: 5px;
}

.meistertools select.labeled {
    margin-top: 15px
}

.meistertools select.biome {
    color: var(--color-secondary);
    background-color: var(--color-light);
    opacity: 0.4;
}


.meistertools select + label {
    color: var(--color-secondary);
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0;
    line-height: 1em
}

.meistertools select:focus + label {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.meistertools select option {
    background-color: var(--color-light);
    color: var(--color-secondary);
}

.meistertools select option:checked {
    color: var(--color-light);
    background-color: var(--color-primary);
    box-shadow: 0 0 0 3px black;
}

.meistertools select:disabled {
    cursor: not-allowed;
}


/* ---------------------------------
    buttons
 --------------------------------- */

.meistertools button {
    color: var(--color-secondary);
    background-color: var(--color-quaternary);
    border: 1px solid var(--color-quaternary);
    margin: 5px 0px;
    transition-duration: 0.4s;
    padding: 1px 10px;
    width: auto;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.meistertools button:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
}

.meistertools button:active {
    color: var(--color-primary);
    background-color: var(--color-quaternary);
}

.meistertools button:disabled {
    color: var(--color-disabled);
    background-color: var(--color-disabled-background);
    cursor: not-allowed;
}

.meistertools button.large {
    font-size: 2em;
    height: 48px;
    width: 48px;
}

.meistertools button.wide {
    font-size: 1.5em;
    height: 32px;
    width: 48px;
}

.meistertools button.bottom-line {
    margin-top: 23px;
}


.meistertools button.red {
    background-color: var(--color-red);
    color: var(--color-light);
}

.meistertools button.bold {
    min-width: 150px;
}



/* Reset buttons */

.meistertools button.reset {
    color: var(--color-secondary);
    background-color: var(--color-light);
    border: 1px solid var(--color-quaternary);
}

.meistertools button.reset:active {
    color: var(--color-primary);
    background-color: var(--color-quaternary);
}


/* icons as buttons */
.meistertools i.button {
    margin-right: 10px;
}

.meistertools i.button.fa-minus-circle {
    color: var(--color-red)
}

/* label buttons */

.meistertools a.label {
    vertical-align: middle;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--color-quaternary);
}


/* ---------------------------------
    special elements
 --------------------------------- */

/* culture select */

select.culture {
    margin-top: 10px;
    color: var(--color-primary);
}

select.culture.checked {
    margin-top: 10px;
    color: var(--color-light);
}

/* generate-nsc button */

button.top-right-nsc {
    font-size: 2em;
    height: 64px;
    width: 64px;
    margin-top: 30px;
    text-align: center;
}


/*
    based on
    @see https://www.w3schools.com/howto/howto_css_dropdown.asp
*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
    z-index: 100;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: 200px;
    background-color: var(--color-light);
    display: none;
    position: absolute;
    top: -140px;
    left: -20px;
    z-index: 1;
}

.dropdown-content.left {
    top: -30px;
    left: -160px;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* ---------------------------------
    Filepicker
 --------------------------------- */

.meistertools input.pick-path {
    text-align: center;
    width: 200px;
    height: 100px;
    display: block;
    background-size: cover;

}


/* ---------------------------------
    Toggle Switch Checkbox
 --------------------------------- */
input.switch[type=checkbox] {
    visibility: hidden;
}

input.switch[type=checkbox]:checked + label {
    transform: rotate(360deg);
    background-color: var(--color-primary);
}

input.switch[type=checkbox]:checked + label:before {
    transform: translateX(15px);
    background-color: var(--color-light);
}

input.switch[type=checkbox] + label {
    display: flex;
    width: 30px;
    height: 15px;
    border: 1px solid;
    border-radius: 99em;
    position: relative;
    background-color: var(--color-disabled-background);
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    float: left;
}

input.switch[type=checkbox] + label:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: var(--color-disabled);
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

label + label {
    margin-left: 5px;
    float: none;
    display: inline-block;
    cursor: pointer;
    padding-top: 4px;
    font-weight: normal;
    color: var(--color-disabled);
}

input.switch[type=checkbox]:checked + label + label {
    font-weight: bolder;
    color: var(--color-primary);
}
