/* ---------------------------------
    Color Definition
 --------------------------------- */
:root {
    --button-background: #373d6d;
    --button-text: white;
    --button-hover-background: #4CAF50;
    --button-hover-text: black;
    --button-click-background: lightyellow;
    --button-click-text: #373d6d;
    --button-inactive-background: transparent;
    --button-inactive-text: darkgrey;
    --button-inactive-hover-background: transparent;
    --button-inactive-hover-text: white;

    --border-active: goldenrod;
    --border-inactive: lightgrey;

    --field-inactive-background: lightgrey;
    --field-inactive-text: #cccccc;

    --field-active-background: goldenrod;
    --field-active-border: darkgoldenrod;
    --field-active-hover-background: beige;
    --field-active-background-inner: lightgrey;


    --field-inactive-border: lightgrey;
    --field-inactive-hover-background: lightgrey;
    --field-inactive-hover-text: lightgrey;

    --field-active-text: lightgrey;
    --field-active-hover-text: lightgrey;

    --field-focus-background: lightyellow;
    --field-focus-text: beige;

}



/* ---------------------------------
    Navigation
 --------------------------------- */

/* Navigation Tabs */
.meistertools nav.tabs a {
    font-size: 1.42em;
    font-weight: bold;
}


/* ---------------------------------
    Help Boxes
 --------------------------------- */

/* Help Box */
.meistertools .help-info {
    color: #7a7971;
    margin: 6px 6px 6px 12px;
    padding: 0px 12px;
    border-left: 2px solid #7a7971;
    display: none;
}

.meistertools .help-info h3 {
    font-weight: bolder;
}

/* Info Icon */
.meistertools i.help:hover {
    cursor: pointer;
}


/* ---------------------------------
    Layout
 --------------------------------- */

/* Container */
.meistertools .container {
}

/* Flow Layout */
.meistertools .container.flow:after {
    content: "";
    display: table;
    clear: both;
}

.meistertools .container.flow > div {
    float: left;
    padding: 5px
}

/* Grid Layout */
.meistertools .container.grid {
    display: grid;
    grid: 60px / auto auto auto auto auto auto auto;
    grid-gap: 10px;
}


/* ---------------------------------
    Forms
 --------------------------------- */

/* Container */
.meistertools .container.form-box {
    padding: 0px 0px 0px 64px;
    background-repeat: no-repeat;
    background-position: 8px 0px;
    background-size: 48px 48px;
}

.meistertools .container.form-box > div {
    margin: 5px;
}

.meistertools .container .card {
    border-radius: 5px;
    border: 2px solid lightgrey;
    color: grey;
    background-color: beige;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}


.meistertools .container.form-box > div.active {
    border: 2px dotted var(--field-active-border);
    background-color: var(--field-active-background);
    color: black;
}

.meistertools .inputbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}


/* Text Input */
.meistertools .inputbox.text {
    border-radius: 2px;
    padding: 0px;
}

.meistertools .inputbox.text input:focus {
    background-color: var(--field-focus-background);
}

.meistertools div.active input {
    background-color: var(--field-active-background-inner);
}

/* Textarea */
.meistertools textarea {
    border-radius: 2px;
    padding: 3px;
}

.meistertools textarea:focus {
    background-color: lightyellow;
}

.meistertools div.active textarea {
    background-color: lightgrey;
}


/* Radio and Checkboxes */
.meistertools .inputbox.radio {
    width: 110px;
    border-radius: 2px;
    padding: 1px;
}

.meistertools .inputbox.radio input {
    position: absolute;
    opacity: 0;
}

.meistertools .inputbox.radio:hover {
    background-color: lightgreen;
}

.meistertools div.active .radio {
    background-color: lightgrey;
}

.meistertools div.active .radio:hover {
    background-color: lightgrey;
}

/*Checkbox*/
.meistertools .inputbox.checkbox {
    border-radius: 2px;
    padding: 1px;
}

.meistertools .inputbox.checkbox input {
    position: absolute;
    opacity: 0;
}

.meistertools .inputbox.checkbox:hover {
    background-color: lightgreen;
}

.meistertools div.active .checkbox {
    background-color: var(--field-active-background-inner);
}

.meistertools div.active .checkbox:hover {
    background-color: var(--field-active-hover-background);
}


/* Select */
.meistertools .inputbox.select {
    width: auto;
    opacity: 20%;
    background-color: transparent;
    text-color: var(--field-inactive-text);
}

.meistertools .inputbox.select.active {
    opacity: 100%;
    background-color: var(--field-inactive-background);
}


/* Buttons */
.meistertools .form-box .button-box {
    background: transparent;
}

.meistertools button {
    transition-duration: 0.4s;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 0px 5px;
    width: auto;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.meistertools button:hover {
    background-color: var(--button-hover-background);
    color: var(--button-hover-text);
}

.meistertools button:active {
    background-color: var(--button-click-background);
    color: var(--button-click-text);
}

.meistertools button.inactive {
    background-color: var(--button-inactive-background);
    color: var(--button-inactive-text);
    cursor: pointer;
}

.meistertools button.inactive:hover {
    background-color: var(--button-inactive-hover-background);
    color: var(--button-inactive-hover-text);
}




/* special form elements */
.meistertools .inputbox.gender {
    width: 50px;
    padding: 2px;
}

.meistertools button.dice {
    width: 50px
}

.meistertools div.card.nsc_name input {
    height: 64px
}

.meistertools .inputbox.profession {
    text-align: left;
    width: 110px;
    font-size: 15px;
    min-height: 40px;
    padding: 0 5px 0 36px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 32px 32px;
}

.meistertools div.card.nsc_name textarea {
    width: 165px;
}


.meistertools .inputbox.anzahl {
    width: 64px;
}


/* positioning select */
.meistertools .card.outside {
    border-radius: 5px;
    text-align: center;
    border: 5px solid var(--border-active);
}

.meistertools .card.top-left {
    border-radius: 5px;
    text-align: center;
    border-top: 5px solid var(--border-active);
    border-left: 5px solid var(--border-active);
    border-right: 5px solid var(--border-inactive);
    border-bottom: 5px solid var(--border-inactive);
}

.meistertools .card.bottom-left {
    border-radius: 5px;
    text-align: center;
    border-top: 5px solid var(--border-inactive);
    border-left: 5px solid var(--border-active);
    border-right: 5px solid var(--border-inactive);
    border-bottom: 5px solid var(--border-active);
}

/* buttons */
.meistertools button.delete {
    background-color: white;
    color: red;
}

.meistertools button.delete:hover {
    background-color: red;
    color: black;
}
