/* ---------------------------------
    color palette
 --------------------------------- */
:root {
    --color-primary: #763626;
    --color-secondary: #340C01;
    --color-tertiary: #1B3B4B;
    --color-quaternary: #9C9FB8;
    --color-quinary: #EEEEF2;

    --color-disabled: #cccccc;
    --color-disabled-background: #cccccc;

    --color-light: #ffffe0;
}


span.bold {
    color: var(--color-primary);
    font-weight: bold;
}


/* ---------------------------------
    navigation
 --------------------------------- */

.meistertools nav.tabs {
    border-bottom: 2px solid var(--color-primary);
}

.meistertools nav.tabs a {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
}

.meistertools nav.tabs a.active {
    font-weight: bolder;
    border-top: 1px solid black;
    background-color: var(--color-quaternary);
}

/*
.meistertools a.set-category {
    margin-right: 10px;
}

.meistertools a.set-category.active {
    font-size: 1.1em;
    font-weight: bold;
    border-top: 1px solid black;
}
*/


/* ---------------------------------
    flow-boxes
 --------------------------------- */
.meistertools .flow-box {
    overflow: hidden;
}

.meistertools .flow-box > * {
    float: left;
}


/* Flow Layout */
.meistertools .flow:after {
    content: "";
    display: table;
    clear: both;
}

.meistertools .flow > * {
    float: left;
}


/* ---------------------------------
    boxes layout
 --------------------------------- */
.meistertools .round-box {
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #aaa;
}

.meistertools .round-box.inner {
    border: 2px dotted var(--color-primary);
}

.meistertools .round-box.no-header {
    margin-top: 10px;
}

/*
.meistertools .round-box header > h1,
.meistertools .round-box header > h2 {
*/

.meistertools .round-box header > h1,
.meistertools .round-box header > h2 {
    position: relative;
    height: fit-content;
    width: fit-content;
    top: -30px;
    box-shadow: 0 0 5px #aaa;
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: -20px;
}

.meistertools .round-box header > h1 {
    font-size: 1.5em;
    color: var(--color-light);;
    background-color: var(--color-primary);
}

.meistertools .round-box header > h2 {
    font-size: 1.2em;
    color: var(--color-secondary);
    background-color: var(--color-light);
}


/* - Grid --------------------- */
.col-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.col-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

/*todo überarbeiten*/
.round-box.col-3 main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.round-box.col-4 main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;

}


/* - help boxes --------------------- */

.meistertools .with-help.round-box > header {
    display: grid;
    grid-template-columns: auto 24px
}

.meistertools .help-icon {
    font-size: 2em;
    position: relative;
    cursor: help;
    margin-bottom: -15px;
}

.meistertools .help-info {
    color: #7a7971;
    margin: 6px 6px 6px 12px;
    padding: 0 12px;
    border-left: 2px solid #7a7971;
    display: none;
}


/* ---------------------------------
    nachtlager
 --------------------------------- */

.nachtlager > main {
    display: grid;
    grid-template-columns: 80px auto auto auto auto auto;
    grid-gap: 10px;
}

.nachtlager img.prop {
    width: 48px;
    border: none;
}

.nachtlager img.prop:hover {
    box-shadow: 0 0 5px #aaa;
}

.nachtlager img.prop:active {
    box-shadow: 0 0 10px #aaa;
}

.nachtlager img.player {
    width: 64px;
    border: none;
}


img.placed-prop {
    width: 100px;
    height: 100px;
    border: none
}


/* ---------------------------------
    generate NSC
 --------------------------------- */

.img-left {
    background-repeat: no-repeat;
    background-position: 0px 10px;
    background-size: 48px 48px;
}

label.inputbox {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 32px 32px;
    vertical-align: middle;
}

label.inputbox span {
    margin-left: 32px;
    text-align: left;
}

